.button {
    border: none;
    background: none;
    color: #667085;
    padding: 12px;
    margin: 0px 16px;
    cursor: pointer;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }
  
  .activeButton {
    border: none;
    background: #F9F5FF;
    color: #667085;
    padding: 12px;
    margin: 0px 16px;
    cursor: pointer;
    border-bottom: 2px solid #6941C6;
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
  }